﻿@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.bigred {
    font-size: 20px;
    color: red;
}

@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.bigred {
    font-size: 20px;
    color: red;
}

body {
    background-color: rgba(223, 223, 223, 0.863);
}

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("../img/header.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 500px;
}

.header__first {
    position: relative;
    top: 10px;
    background-color: #fff;
    color: black;
    opacity: 100%;
    border: 1px solid rgba(102, 102, 102, 0.425);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__second {
    margin-top: 15px;
    background-color: #fff;
    color: black;
    opacity: 100%;
    border: 1px solid rgba(102, 102, 102, 0.425);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav__blocks {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 172px;
    border: 1px solid #666;
    border-right: none;
    transition-duration: 0.4s;
}

    .nav__blocks a {
        color: rgba(0, 0, 0, 0.712);
        font-size: 16px;
    }

    .nav__blocks:nth-child(6) {
        border-right: 1px solid #666;
    }

    .nav__blocks:hover {
        background-color: #54AD58;
        opacity: 93%;
        transition-duration: 0.4s;
    }

        .nav__blocks:hover a {
            color: white;
        }

.sche {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    background-color: #54AD58;
    display: flex;
    align-items: center;
}

    .sche a {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
    }

.footer {
    background-color: #374046;
}

    .footer .foot {
        margin-top: 300px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }

    .footer .foot__blocks {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 172px;
        border-right: none;
        transition-duration: 0.4s;
    }

        .footer .foot__blocks a {
            color: white;
            font-size: 16px;
        }

.news p {
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.news__container {
    margin-top: 20px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.news__item {
    text-align: left;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

    .news__item img {
        max-width: 100%;
        height: auto;
    }

    .news__item h2 {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
    }

    .news__item p {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
    }

    .news__item .text1 {
        color: grey;
        padding-bottom: 20px;
    }

.about {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 15px;
}

.about__content {
    background: white;
    padding: 15px;
}

    .about__content p {
        margin-top: 15px;
        text-align: left;
        font-size: 13px;
        line-height: 16px;
    }

.about h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.about img {
    max-width: 100%;
    height: auto;
}

.cafedras {
    margin-top: 30px;
}

.cafedras__block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cafedras__block-item {
    animation-duration: 1s;
    background: #fff;
    width: 100%;
    max-width: 48.5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

    .cafedras__block-item:hover {
        font-size: 14px;
        animation-duration: 0.5s;
    }

    .cafedras__block-item img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cafedras__block-item a {
        color: black;
        text-transform: uppercase;
    }

    .cafedras__block-item .xio {
        padding-top: 10px;
        top: 20px;
    }

.studentu {
    margin-top: 20px;
}

.studentu__main {
    display: flex;
    justify-content: space-between;
}

.studentu__main-item1 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 77%;
    max-width: 100%;
    background-color: #fff;
}

.studentu__main-item2 {
    margin-left: 10px;
    text-align: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 20%;
    max-width: 100%;
    background-color: #fff;
    line-height: 16px;
}

/*# sourceMappingURL=style.css.map */
