﻿@{
    ViewData["Title"] = "Abituriientam";
}

<div class="studentu">
    <div class="container">
        <div class="studentu__main">
            <div class="studentu__main-item1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste, quam minima eos quibusdam atque velit rem necessitatibus incidunt reiciendis praesentium, magnam, exercitationem iusto debitis vitae quisquam eaque sit quaerat.</p>
            </div>
            <div class="studentu__main-item2">
                <ul>
                    <li><a href="">Ссилка 1</a></li>
                    <li><a href="">Ссилка 2</a></li>
                    <li><a href="">Ссилка 3</a></li>
                    <li><a href="">Ссилка 4</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>