﻿@{
    ViewData["Title"] = "Departments";
}

<div class="cafedras">
    <div class="container">
        <div class="cafedras__block">
            <div class="cafedras__block-item">
                <div class="xio">
                    <a href="#">Кафедра вищої математики</a>
                </div>
                <div>
                    <img src="/img/logo1.png" alt="">
                </div>
            </div>
            <div class="cafedras__block-item">
                <div class="xio">
                    <a href="#">Кафедра вищої математики</a>
                </div>
                <div>
                    <img src="/img/logo1.png" alt="">
                </div>
            </div>
        </div>
        <div class="cafedras__block">
            <div class="cafedras__block-item">
                <div class="xio">
                    <a href="#">Кафедра вищої математики</a>
                </div>
                <div>
                    <img src="/img/logo1.png" alt="">
                </div>
            </div>
            <div class="cafedras__block-item">
                <div class="xio">
                    <a href="#">Кафедра вищої математики</a>
                </div>
                <div>
                    <img src="/img/logo1.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
