﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="about">
    <div class="container">
        <div class="about__content">
            <h2>Про факультет</h2>
            <img src="img/13.png" alt="">
            <p>
                Факультет математики та інформатики утворений у 1994 році як самостійний факультет унаслідок реорганізації фізико-математичного та факультету інформатики та обчислювальної техніки. До складу факультету відійшли кафедри вищої математики, математики та методики її викладання та новостворена кафедра інформатики та прикладної математики.
                Але свій відлік історія факультету починає з того часу, коли були створені відповідні математичні кафедри, тобто з квітня 1940 року, коли в м.Рівному вперше було відкрито вищий навчальний заклад - Рівненський державний учительський інститут, але кафедра математики як окрема одиниця була організована тільки в 1947 році. У різні роки кафедра математики реорганізовувалася в кафедру математики з методикою її викладання та кафедру математичного аналізу, кафедру вищої математики і з 1991 року функціонують кафедри вищої математики та математики з методикою її викладання. З 1994 р. функціонує кафедра інформатики та прикладної математики. За майже 10-річчя свого існування факультет підготував близько тисячі фахівців.
            </p>
        </div>

    </div>
</div>
