﻿@{
    ViewData["Title"] = "News";
}

<div class="news">
    <div class="container">
        <p>Останні новини</p>
        <div class="news__container">
            <div class="news__item">
                <img src="/img/13.png" alt="">
                <h2>
                    РОЗПОЧАТО РЕЄСТРАЦІЮ НА КОНФЕРЕНЦІЮ
                </h2>
                <p>ХІV Всеукраїнська науково-практична онлайн конференція ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ У ПРОФЕСІЙНІЙ ДІЯЛЬНОСТІ присвячена 15-річчю </p>
                <p class="text1">05 ЖОВТНЯ 2021</p>
            </div>
            <div class="news__item">
                <img src="/img/12.jpg" alt="">
                <h2>
                    РОЗПОЧАТО РЕЄСТРАЦІЮ НА КОНФЕРЕНЦІЮ
                </h2>
                <p>ХІV Всеукраїнська науково-практична онлайн конференція ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ У ПРОФЕСІЙНІЙ ДІЯЛЬНОСТІ присвячена 15-річчю </p>
                <p class="text1">05 ЖОВТНЯ 2021</p>
            </div>
            <div class="news__item">
                <img src="/img/12.jpg" alt="">
                <h2>
                    РОЗПОЧАТО РЕЄСТРАЦІЮ НА КОНФЕРЕНЦІЮ
                </h2>
                <p>ХІV Всеукраїнська науково-практична онлайн конференція ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ У ПРОФЕСІЙНІЙ ДІЯЛЬНОСТІ присвячена 15-річчю </p>
                <p class="text1">05 ЖОВТНЯ 2021</p>
            </div>
        </div>
    </div>
</div>
