﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-language" content="ua">
    <title> Головна | Факультет математики та інформатики </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="header__first">Рівненський державний гуманітарний університет</div>
            <div class="header__second">Факультет математики та інформатики</div>
            <div class="nav">
                <div class="nav__blocks"><a asp-area="" asp-controller="Home" asp-action="Index">Освітня діяльність</a></div>

                <a asp-area="" asp-controller="Home" asp-action="Privacy">
                <div class="nav__blocks">
                    Про факультет
                </div>
                </a>
                <div class="nav__blocks"><a asp-area="" asp-controller="Home" asp-action="Abituriientam">Абітурієнту</a></div>
                <div class="nav__blocks"><a asp-area="" asp-controller="Home" asp-action="Departments">Кафедри</a></div>
                <div class="nav__blocks"><a asp-area="" asp-controller="Home" asp-action="News">Новини</a></div>
                <div class="nav__blocks"><a asp-area="" asp-controller="Home" asp-action="Gallery">Галерея</a></div>
            </div>

        </div>
    </div>
    <div class="sche">
        <div class="container">
            <a href="#">Онлайн розклад</a>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<div class="main">
            <div class="container">

            </div>
        </div>*@

    <div class="footer">
        <div class="container">
            <div class="foot">
                <div class="foot__blocks"><a href="#">Освітня діяльність</a></div>
                <div class="foot__blocks"><a href="#">Про факультет</a></div>
                <div class="foot__blocks"><a href="#">Абітурієнту</a></div>
                <div class="foot__blocks"><a href="#">Кафедри</a></div>
                <div class="foot__blocks"><a href="#">Новини</a></div>
                <div class="foot__blocks"><a href="#">Галерея</a></div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>